body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "Roboto", sans-serif;
    /* background-color: #fff; */
    background-color: white;
    color: #333;
    font-style: normal;
}

.article-div1 {
    /* text-align: center; */
    display: grid;
    grid-template-columns: 1fr [start] repeat(3, 192px) [end] 1fr;
}

@media (max-width: 8.5in) {
    .article-div1 {
        /*TODO: 5% or 3% on mobile; or maybe even less?*/
        grid-template-columns: 1fr [start] repeat(3, 31%) [end] 1fr;
        /* grid-template-columns: 1fr [start] repeat(3, 30%) [end] 1fr; */
    }
}

.article-div1 * {grid-column: 2 / 5;}


.article-div2 {
    padding: 70px 0px 0px 0px;
    text-align: left;
}

.author-box {
    display: block;
    margin-bottom: 40px;
    width: 100%;
    flex:1;
    display: flex;
    align-content: stretch;
}

.author-desc {
    float: right;
    width: 50%;
    flex: 1 0 auto;
}
.author-img {
    float: left;
    width: 50%;
    flex: 1 0 auto;
    background-image: ./imgs/feynman.jpg;
    background-position: 46% 32%;

}

.img-div {
    text-align: center;
    margin: 1.5em 0 1.5em 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

figcaption {
    color: #333;
    /* font-size: 12px; */
    font-size: 0.70em;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .036em;
    /* font-family: "Roboto", sans-serif; */
    margin: 5px 0px 0px 0px;
    text-align: left;

    max-width: 100%;
    max-height: 100%;
}

.main-title {
    font-size: 2.82em;
    line-height: 1.04167;
    font-weight: 500;
    letter-spacing: .006em;
    color: #111;
    /* font-family: "Roboto", sans-serif; */
}


h3 {
    font-size: 18px;
    margin: 0px 0 1rem;
}


.separator-div {
    /* margin: 36px auto 50px; */
    margin: 2em auto 2.8em;
}

.separator {
    border-top: 1px solid #d6d6d6;
}

blockquote{
    padding: 0 1rem;
    color: #6a737d;
    border-left: 0.25rem solid #dfe2e5;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 0.85em;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

code {
    padding: 0.2rem 0.4rem;
    margin: 0;
    font-size: 0.85em;
    border-radius: 3px;
}

h2 {
    padding-bottom: 0.3rem;
    font-size: 1.5rem;
    /* border-bottom: 1px solid #eaecef; */
}

h2, p, ul, hr, ol, blockquote, pre {margin-bottom: 1rem;}

ul, ol {padding-left: 2rem;}

a {color: #0366d6;}


/* a { box-shado: inset 0 -0.25em hsl(55, 100%, 75%); } */

/* @media (max-width: 8.5in) { :root { font-size: 18px; } } */

/* @media (max-width: 5.0in) { :root { font-size: 16px; } } */
